Source: liquidshell
Section: kde
Priority: optional
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: libkf5archive-dev,
                libkf5bluezqt-dev,
                libkf5config-dev,
                libkf5configwidgets-dev,
                libkf5coreaddons-dev,
                libkf5crash-dev,
                libkf5dbusaddons-dev,
                libkf5i18n-dev,
                libkf5iconthemes-dev,
                libkf5itemviews-dev,
                libkf5kcmutils-dev,
                libkf5kio-dev,
                libkf5networkmanagerqt-dev,
                libkf5newstuff-dev,
                libkf5notifications-dev,
                libkf5service-dev,
                libkf5solid-dev,
                libkf5widgetsaddons-dev,
                libkf5windowsystem-dev,
                libkf5xmlgui-dev,
                libqt5x11extras5-dev,
                qtbase5-dev,
                qtbase5-private-dev
Standards-Version: 3.9.6
Homepage: https://github.com/KDE/liquidshell


Package: liquidshell
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: liquidshell is a basic Desktop Shell.
 It is implemented using QtWidgets.

